<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
  <add key="hostAddress" value="http://localhost:8083" />
  <!-- <add key="hostAddress" value="http://192.168.44.153:8083" /> -->
  <add key="print" value="true" />
  <add key="printer1" value="PDFWriter" />
  <add key="printcommand" value="/usr/bin/lpr" />
  <add key="inAddIngredientAdjustPrice" value="true" />
  <add key="inRemoveIngredientAdjustPrice" value="true" />
  <add key="localization" value="it" />
  <add key="smtpAddress" value="smtp.gmail.com" />
  <add key="smtpPort" value="25" />
  <add key="smtpCredentialsName" value="tonyx1@gmail.com" />
  <add key="smtpCredentialsPassword" value="vsyemdgidfumkbbn" />
  <add key="emailDisplayName" value="Pasticceria Caprile" />
  <add key="productIsDone" value="informazioni: l'ordine è disponibile" />
  <add key="greetings" value="Cordiali Saluti" />
  <add key="autoSubscribeCodeExpirationTimeInMinutes" value="10" />
  <add key="temporaryImageRepository" value="/Users/tonyx/imageSpoolDir" />
  <add key="notifyNewAutoRegisteredUserByEmail" value="true"/>
  <add key="numberOfItemForAminCoursesPage" value="5"/>

  <add key="ownerEmail" value = "tonyx1@gmail.com"/>
  <add key="serverAddress" value = "192.168.44.153"/>

  <add key="suaveService" value = "http://192.168.44.153:8083"/>

  <add key="nodeService" value = "https://192.168.44.153:443"/>



</appSettings>
<runtime><assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  <dependentAssembly>
    <Paket>True</Paket>
    <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
    <bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="4.5.0.0" />
  </dependentAssembly>
</assemblyBinding></runtime></configuration>
